.header {
  padding: 1rem;
  background-color: #282c34;
  display: grid;
  text-align: center;
}

.search {
  background-color: #282c34;
  color: #ffffff;
  border-radius: 8px;
}

.header a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;

}

/* .header a:hover {

  transform: scale(0.98);
  width: 100%;
  padding: 12px;
  cursor: pointer;
  margin-bottom: 1.5rem;
} */


.header a.active {
  color: chocolate;
  /* background-color: whitesmoke */
  font-weight: bold;
}